@import "reset",
		"variables",
		"header",
		"ticket";

*{
	text-rendering: optimizeLegibility;     
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-shadow: 1px 1px 1px rgba(0,0,0,.004);
	font-family: 'Montserrat', sans-serif;
	color: $dark;
}

html, body{
    font-size: 18px;
    @media screen and (max-width: 1024px){
        font-size: 16px
    }
}

body{
    width: 100%;
    height: 100vh;
    margin-right: auto;
    margin-left: auto;
}

.container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 100%;
    // margin-right: -15px;
    // margin-left: -15px;
    .left{
	  -webkit-box-flex: 0;
    	-ms-flex: 0 0 20%;
	    flex: 0 0 20%;
	    max-width: 20%;
	    background: $red;
	    @media screen and (max-width: 1024px){
	        -webkit-box-flex: 0;
	        -ms-flex: 0 0 100%;
	        flex: 0 0 100%;
	        max-width: 100%;
	        height: auto;
	    }
    }
    .right{
	  -webkit-box-flex: 0;
    	-ms-flex: 0 0 80%;
	    flex: 0 0 80%;
	    max-width: 80%;
	    height: 100%;
	    @media screen and (max-width: 1024px){
	        -webkit-box-flex: 0;
	        -ms-flex: 0 0 100%;
	        flex: 0 0 100%;
	        max-width: 100%;
	    }
    }
}

main{
	height: 100%;
	width: 100%;
	.left{
		height: 100%;
		position: relative;
	}
	.right{
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 80%;
	    flex: 0 0 80%;
	    max-width: 80%;
	    background-image: url('../img/bg.jpg');
	    background-size: cover;
	    background-position: center right;
	    display: flex;
	    align-items: center;
	    justify-content: flex-start;
	    @media screen and (max-width: 1024px){
			background-position: center;
	    }
	    .content{
	        margin: 0 10rem;
	        h1{
	            font-size: 3.25rem;
	            margin: 0 0 1.5rem;
	        }
	        p{
	            color: $red;
	            font-size: .85rem;
	            margin: 0 0 1.5rem;
	        }
	    }
	}	
}

.inner-bar{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
    transition: $transition;
    z-index: 999;
    box-shadow: 0 0 16px 0px rgba(49, 49, 49, 0.18);
    @media screen and (max-width: 1024px){
        position: relative;
        right: 0;
        top: 0;
        transform: none;
    }
    &.t-page{
        transform: translate(0%, -50%);
	    @media screen and (max-width: 1024px){
			transform: none;
	    }
        .block{
        	p{
        		&.text{
        			display: block;
        		}
        	}
        	svg{
        		display: none;
        	}
        	&.active{
        		svg{
					display: block;
					margin: 0 auto;
        		}
        	}
        }
    }
    .block{
        width: 125px;
        height: 110px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: $transition;
        @media screen and (max-width: 1024px){
            display: none;
            width: 100%;
        }
        &.extra{
            svg{
                width: 20px;
            }
        }
        &.active{
            background-color: #242a34!important;
            p{color: #fff;}
            svg{
                path{
                    fill: #fff;
                }
            }
            @media screen and (max-width: 1024px){
                display: flex;
            }
        }
        &:nth-child(even){
            background-color: #fff;
        }
        &:nth-child(odd){
            background-color: #f3f3f3;
        }
        &:hover{
            background-color: lighten($color: $dark, $amount: 40);
            p{
                color: #fff;
            }
            svg{
                path{
                    fill: #fff;
                }
            }
        }
        img, svg{
            width: 30px;
            transition: $transition;
        }
        p{
            text-transform: uppercase;
            font-size: .7rem;
            font-weight: bold;
            letter-spacing: .2px;
            margin: 0 0 1rem;
            transition: $transition;
            &.text{
				font-size: 0.7rem;
			    padding: 0 0.6rem;
			    margin: 0;
			    line-height: 1.2;
			    color: $red;
			    display: none;
			    span{
			    	font-weight: 700;
			    	color: #404040;
			    }
            }
        }
    }
  }

  .overlay-transition{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: $red;
    top: 0;
    left: 0;
    opacity: 1;
    transition: all .5s ease;
    will-change: width;
    z-index: 8989;
    // display: none;
    img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    &.loaded{
        width: 0;
        img{
            display: none;
        }
    }
}

form#search{
    input[type=text]{
        padding: 1rem;
        border-radius: 6px;
        border: none;
        font-size: 1.25rem;
        width: 100%;
        border: 2px solid #fff;
        outline: none;
        transition: $transition;
        &:focus, &:active{
            border-color: $red;
        }
    }
    input[type=submit]{
        width: 4rem;
        height: 4rem;
        text-indent: -9999px;
        background-color: $red;
        border-radius: 50%;
        border: none;
        margin: 1.5rem 0;
        outline: none;
        cursor: pointer;
        background-image: url('../img/icons/arrow.png');
        background-repeat: no-repeat;
        background-position: center;
        transition: $transition;
        &:hover{
            background-color: $dark
        }
    }
}