html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header {
  z-index: 10;
  position: relative; }
  header .left {
    align-items: center;
    justify-content: center;
    display: flex; }
  header .right {
    background: #fff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    header .right:after {
      content: "";
      position: absolute;
      z-index: -1;
      -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
      bottom: 0px;
      left: 5%;
      right: 5%;
      width: 90%;
      height: 50%;
      -moz-border-radius: 100%;
      border-radius: 100%; }
    header .right .content {
      display: inline-flex;
      margin: 0; }
      header .right .content ul li {
        display: inline-block;
        padding: .5rem 2rem;
        font-size: 1rem;
        border-right: 1px solid #ed1d37; }
        header .right .content ul li:last-child {
          border-right: none; }
  header .icons {
    display: inline-flex;
    align-items: center; }
    header .icons ul {
      display: inline-block; }
      header .icons ul li {
        display: inline-block;
        margin: 0 1rem; }
        header .icons ul li img {
          width: 20px; }
  header #hamburger {
    display: inline-block;
    height: 120px;
    width: 120px;
    background-color: #242a34;
    margin-left: 1rem;
    position: relative;
    cursor: pointer; }
    header #hamburger span {
      display: block;
      position: absolute;
      height: 2px;
      width: 40%;
      background: #fff;
      opacity: 1;
      left: 50%;
      border-radius: 4px;
      transform: translateX(-50%);
      transition: all 0.45s ease-in-out; }
      header #hamburger span:nth-child(1), header #hamburger span:nth-child(2), header #hamburger span:nth-child(3) {
        transform-origin: left center; }
      header #hamburger span:nth-child(1) {
        top: 40%; }
      header #hamburger span:nth-child(2) {
        top: 50%; }
      header #hamburger span:nth-child(3) {
        top: 60%; }
    header #hamburger:hover span:nth-child(1) {
      width: 30%; }
    header #hamburger:hover span:nth-child(2) {
      width: 35%; }
    header #hamburger:hover span:nth-child(3) {
      width: 30%; }

main .scroll-section {
  height: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  max-width: 30%;
  overflow-y: scroll;
  background: #fff; }
  main .scroll-section::-webkit-scrollbar {
    width: 1rem;
    height: 5px;
    padding: 1rem; }
  main .scroll-section::-webkit-scrollbar-thumb {
    background-color: #ed1d37;
    border-radius: 50px;
    height: 10px;
    padding: 0; }
  main .scroll-section::-webkit-scrollbar-track {
    padding: 1rem 0; }
  main .scroll-section .ticket {
    padding: 1rem 2rem 2.5rem;
    border-radius: 18px;
    background-color: #f3f3f3;
    margin: 1rem;
    transition: all 0.45s ease-in-out; }
    main .scroll-section .ticket:hover {
      background-color: #7e8da6; }
      main .scroll-section .ticket:hover p {
        color: #fff; }
    main .scroll-section .ticket .recommend {
      font-size: .85rem;
      margin: 0 0 .75rem;
      font-weight: 700;
      color: #fff;
      visibility: hidden; }
    main .scroll-section .ticket .info {
      display: flex;
      justify-content: space-between; }
    main .scroll-section .ticket .info-lower {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      main .scroll-section .ticket .info-lower p {
        font-size: .8rem;
        color: #ed1d37;
        font-weight: 700;
        margin: 1rem 0 0; }
      main .scroll-section .ticket .info-lower a.buy {
        display: none;
        background: #ed1d37;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        padding: 0.6rem 1.5rem;
        font-weight: 700;
        border-radius: 50px;
        margin: 1rem 0 0;
        transition: all 0.45s ease-in-out; }
        main .scroll-section .ticket .info-lower a.buy:hover {
          background-color: #242a34; }
    main .scroll-section .ticket.active {
      background-color: #242a34;
      padding: 1rem 2rem; }
      main .scroll-section .ticket.active .recommend {
        visibility: visible; }
      main .scroll-section .ticket.active .info p {
        color: #fff; }
      main .scroll-section .ticket.active .info-lower a.buy {
        display: block; }

main .map {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
  max-width: 70%;
  height: 100%; }
  main .map iframe {
    width: 100%;
    height: 100%; }

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  font-family: 'Montserrat', sans-serif;
  color: #242a34; }

html, body {
  font-size: 18px; }
  @media screen and (max-width: 1024px) {
    html, body {
      font-size: 16px; } }

body {
  width: 100%;
  height: 100vh;
  margin-right: auto;
  margin-left: auto; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%; }
  .container .left {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    background: #ed1d37; }
  .container .right {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%; }

main {
  height: 100%;
  width: 100%; }
  main .left {
    height: 100%;
    position: relative; }
  main .right {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%;
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-position: center right;
    display: flex;
    align-items: center;
    justify-content: flex-start; }
    main .right .content {
      margin: 0 10rem; }
      main .right .content h1 {
        font-size: 3.25rem;
        margin: 0 0 1.5rem; }
      main .right .content p {
        color: #ed1d37;
        font-size: .85rem;
        margin: 0 0 1.5rem; }

.inner-bar {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
  transition: all 0.45s ease-in-out;
  z-index: 999;
  box-shadow: 0 0 16px 0px rgba(49, 49, 49, 0.18); }
  .inner-bar.t-page {
    transform: translate(0%, -50%); }
  .inner-bar .block {
    width: 125px;
    height: 110px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.45s ease-in-out; }
    .inner-bar .block.extra svg {
      width: 20px; }
    .inner-bar .block.active {
      background-color: #242a34 !important; }
      .inner-bar .block.active p {
        color: #fff; }
      .inner-bar .block.active svg path {
        fill: #fff; }
    .inner-bar .block:nth-child(even) {
      background-color: #fff; }
    .inner-bar .block:nth-child(odd) {
      background-color: #f3f3f3; }
    .inner-bar .block:hover {
      background-color: #7e8da6; }
      .inner-bar .block:hover p {
        color: #fff; }
      .inner-bar .block:hover svg path {
        fill: #fff; }
    .inner-bar .block img, .inner-bar .block svg {
      width: 30px;
      transition: all 0.45s ease-in-out; }
    .inner-bar .block p {
      text-transform: uppercase;
      font-size: .7rem;
      font-weight: bold;
      letter-spacing: .2px;
      margin: 0 0 1rem;
      transition: all 0.45s ease-in-out; }

.overlay-transition {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #ed1d37;
  top: 0;
  left: 0;
  opacity: 1;
  transition: all .5s ease;
  will-change: width;
  z-index: 8989;
  display: none; }
  .overlay-transition img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .overlay-transition.loaded {
    width: 0; }
    .overlay-transition.loaded img {
      display: none; }

form#search input[type=text] {
  padding: 1rem;
  border-radius: 6px;
  border: none;
  font-size: 1.25rem;
  width: 100%;
  border: 2px solid #fff;
  outline: none;
  transition: all 0.45s ease-in-out; }
  form#search input[type=text]:focus, form#search input[type=text]:active {
    border-color: #ed1d37; }

form#search input[type=submit] {
  width: 4rem;
  height: 4rem;
  text-indent: -9999px;
  background-color: #ed1d37;
  border-radius: 50%;
  border: none;
  margin: 1.5rem 0;
  outline: none;
  cursor: pointer;
  background-image: url("../img/icons/arrow.png");
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.45s ease-in-out; }
  form#search input[type=submit]:hover {
    background-color: #242a34; }
